.footer{width:1005px; margin:0; float: left;}
.foot{width:1005px; float:left; text-align:center; padding:8px 0 25px 0; line-height:18px;}
.footer a{font-size:11px; color:#4096ee; text-align:center;}
.footer span{color:#828282;font-size:11px;}
